body {
  margin: 0;
}
main {
  height:100vh;
}
.background-sky {
  height: 70%;
  background: linear-gradient(to bottom, #80d4ff ,#b3e6ff ,#cceeff ,#e6f7ff );
  position: relative;
}
.background-ground {
  height: 30%;
  background: url(img/ground.png)
}
.mario {
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 30%;
  width: auto;
  animation: move 5s linear;
  -webkit-animation: move 5s forwards;
}
@keyframes move {
  from {left: 5px;}
  to {left: 2000px;}
}
@-webkit-keyframes move {
  from {left: 5px;}
  to {left: 2000px;}
}
.castle {
  position: absolute;
  right: 15px;
  bottom: 0;
}
@media (max-width: 2000px) {
  @keyframes move {
    to {left: 1300px;}
  }
  @-webkit-keyframes move {
    to {left: 1300px;}
  }
}
@media (max-width: 1700px) {
  @keyframes move {
    to {left: 1100px;}
  }
  @-webkit-keyframes move {
    to {left: 1100px;}
  }
}
@media (max-width: 1500px) {
  @keyframes move {
    to {left: 900px;}
  }
  @-webkit-keyframes move {
    to {left: 900px;}
  }
}
@media (max-width: 1366px) {
  @keyframes move {
    to {left: 780px;}
  }
  @-webkit-keyframes move {
    to {left: 780px;}
  }
}
@media (max-width: 1030px) {
  .castle {
    height: 70%;
    width: auto;
  }
  @keyframes move {
    to {left: 600px;}
  }
  @-webkit-keyframes move {
    to {left: 600px;}
  }
}
@media (max-width: 992px) {
  @keyframes move {
    to {left: 550px;}
  }
  @-webkit-keyframes move {
    to {left: 550px;}
  }
}
@media (max-width: 812px) {
  .mario {
    height: 20%;
  }
  .castle {
    height: 60%;
  }
}
@media (max-width: 770px) {
  @keyframes mymove {
    to {left: 400px;}
  }
  @-webkit-keyframes move {
    to {left: 400px;}
  }
}
@media (max-width: 570px) {
  @keyframes mymove {
    to {left: 350px;}
  }
  @-webkit-keyframes move {
    to {left: 350px;}
  }
}
@media (max-width: 425px) {
  .mario {
    height: 10%;
  }
  .castle {
    height: 30%;
  }
  @keyframes move {
    to {left: 170px;}
  }
  @-webkit-keyframes move {
    to {left: 170px;}
  }
}
@media (max-width: 320px) {
  @keyframes move {
    to {left: 150px;}
  }
  @-webkit-keyframes move {
    to {left: 150px;}
  }
}
